.css-k1ih3n {
    width: 100%;
    padding: 2rem 1rem 10rem;
    min-width: auto;
    max-width: initial;}

    .css-6qob1r {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: overlay;
        background-color: #d7d7d7;
        color: black;
      }

      .css-1vq4p4l h1 {
        font-size: 2rem;
        font-weight: 600;
        color: black;
    }
    .css-184tjsw p {
        word-break: break-word;
        font-size: 16px;
        color: black;
    }

    .css-10trblm {
        position: relative;
        flex: 1 1 0%;
        margin-left: calc(3rem);
        color: black;
        margin-top: -2%;
    }

    .css-10y5sf6 {
        font-family: "Source Code Pro", monospace;
        font-size: 14px;
        padding-bottom: 9.33333px;
        color: black;
        top: -22px;
        position: absolute;
        white-space: nowrap;
        background-color: transparent;
        line-height: 1.6;
        font-weight: normal;
    }

    
    .css-1vq4p4l img{
        width: 70%;
        margin-top: -23%;

    }

    .css-ocqkz7 {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -webkit-box-align: stretch;
        align-items: stretch;
    }